@import "../variables";
@import "../global_styles";

.homeFeatured {
  @extend .section;
  background: $clr-grey-10;
  .featured {
    margin: 4rem auto;
    display: grid;
    gap: 2.5rem;
    img {
      height: 225px;
    }
  }
  .btn {
    @extend .btn;
    display: block;
    width: 148px;
    margin: 0 auto;
    text-align: center;
  }
  .featured {
    @extend .section-center;
    @media (min-width: 576px) {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }
}
